@font-face {
  font-family: "NotoSans-italic";
  src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "NotoSans";
}

:root {
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);

  --Red-40: hsl(3, 86%, 64%);
  --Red-50: hsl(3, 71%, 56%);
  --Red-70: hsl(3, 77%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, #040918 0%, #091540 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#container {
  width: 90%;
  height: 100%;
  min-width: 34rem;
  margin: auto;
  max-width: 1715px;
}

header {
  margin-top: 1.5rem;
  background-color: var(--Neutral-800);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;

  border-radius: 10px;
}

header > img {
  margin-left: 1rem;
}

header > div {
  background-color: var(--Neutral-700);

  margin: 0.75rem 1rem;
  border-radius: 10px;

  cursor: pointer;
  border: none;
}

div > img {
  width: 18px;
  height: 18px;
  padding: 1rem;
}

nav {
  color: var(--Neutral-0);
  margin-top: 4rem;
}

nav > h1 {
  text-align: center;
  font-size: 3.2rem;
}

nav > ul {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  cursor: pointer;
}

@media screen and (min-width: 750px) {
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  nav > ul {
    width: 340px;
    justify-content: space-between;
  }
}

nav li {
  background-color: var(--Neutral-700);

  border-radius: 2rem;
  padding: 5px 15px;

  font-size: 2.2rem;
  font-weight: 400;

  border: 1px solid var(--Neutral-600);
}

nav li:hover {
  transition: 0.1s;
  background-color: var(--Neutral-600);
}

nav li.active {
  transition: 0.6s;
  background-color: var(--Red-40);
  color: var(--Neutral-900);
  border: none;
}

#section-extensions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

@media screen and (min-width: 1150px) {
  #section-extensions {
    justify-content: flex-start;
  }
}

/* -----------JavaScript-------------- */

.div-extension {
  max-width: 32.5rem;

  background-color: var(--Neutral-800);

  border-radius: 1.5rem;
  border: 1px solid var(--Neutral-600);
}

.extension-info {
  width: 90%;
  height: 125px;
  margin: 1.75rem auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1.5rem;
}

.extension-info > img {
  width: 5.5rem;
  height: 5.5rem;
  padding: 0;
}

.extension-info-text > h1 {
  color: var(--Neutral-0);
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.extension-info-text > p {
  color: var(--Neutral-300);
  font-size: 1.6rem;
}

.toggle-remove-wrapper {
  width: 90%;
  margin: 0 auto 1.75rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-remove {
  background-color: var(--Neutral-800);
  color: var(--Neutral-0);

  border-radius: 1.75rem;
  border: 1px solid var(--Neutral-600);

  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;

  cursor: pointer;
}

.button-remove:hover {
  background-color: var(--Red-40);
  color: var(--Neutral-900);
  border: 1px solid var(--Red-40);
  transition: 0.3s;
}

/* -----------toggleSwitch------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Trilha do switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 2rem;
}

/* Botão redondo que desliza */
.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.5rem;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* Quando marcado, muda cor */
input:checked + .slider {
  background-color: var(--Red-40);
}

/* Move o botão para a direita */
input:checked + .slider:before {
  transform: translateX(16px);
}

/* ---------Light------------ */

.light {
  background: linear-gradient(
    to bottom,
    var(--Neutral-200) 0%,
    var(--Neutral-100) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.light header {
  background-color: var(--Neutral-0);
}

.light header > div {
  background-color: var(--Neutral-100);
  border: 2px solid var(--Red-50);
  margin: calc(0.75rem - 2px) calc(1rem - 2px);
}

.light nav {
  color: var(--Neutral-800);
}

.light nav li {
  background-color: var(--Neutral-0);
  border: none;
}

.light nav li:hover {
  /* padding: 3px 13px; */
  /* border: 2px solid var(--Red-50); */
}

.light nav li.active {
  color: var(--Neutral-0);
  background-color: var(--Red-70);
  border: 1px solid var(--Neutral-0);
  outline: 2px solid var(--Red-50);
  /* padding: 3px 13px; */
}

.light .div-extension {
  background-color: var(--Neutral-0);
  border: 1px solid var(--Neutral-300);
}

.light .extension-info-text > h1 {
  color: var(--Neutral-800);
}

.light .extension-info-text > p {
  color: var(--Neutral-700);
}

.light .button-remove {
  background-color: var(--Neutral-0);
  color: var(--Neutral-800);

  border-radius: 1.75rem;
  border: 2px solid var(--Neutral-300);

  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;

  cursor: pointer;
}

.light .button-remove:hover {
  background-color: var(--Neutral-100);
  color: var(--Neutral-800);
  border: 2px solid var(--Neutral-0);
  outline: 2px solid var(--Red-50);
}

.light input:checked + .slider {
  background-color: var(--Red-70);
}

.light .switch:hover {
  border-radius: 2rem;
  border: 2px solid var(--Neutral-0);
  outline: 2px solid var(--Red-50);
}