* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Orange-hover: hsl(26, 100%, 64%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  height: 100%;
  width: 22.5rem;
  background-color: var(--White);

  position: absolute;
  top: 0;
  left: -22.5rem;

  z-index: 1;
  transition: left 0.3s ease;
}

nav > img {
  height: 1.6rem;
  width: 1.6rem;
  padding: 2px;
  margin: 2rem 2rem;

  cursor: pointer;
  user-select: none;
}

ul {
  display: flex;
  flex-flow: column nowrap;

  gap: 2rem;
  margin: 2rem 2rem;

  list-style: none;
}

li {
  font-size: 1.6rem;
  font-weight: 700;

  color: var(--Very-dark-blue);

  cursor: pointer;
}

header {
  width: 90%;
  margin: 2rem auto;
}

#button-menu {
  height: 1.8rem;

  cursor: pointer;
}

#div-cart > img {
  height: 2rem;
  width: 2rem;

  cursor: pointer;
}

#icon-cart {
  margin-right: 2rem;
}

#carousel > img {
  width: 100%;
  height: 80vw;

  margin-bottom: 1.5rem;

  pointer-events: none;
  display: none;
}

#buttons-navigation {
  width: 90%;

  position: absolute;
  top: 55vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttons-navigation > button {
  height: 2.85rem;
  width: 2.85rem;

  border-radius: 50%;
  border: none;

  cursor: pointer;
  z-index: 0;
}

#buttons-navigation > button > img {
  height: 1.4rem;
  width: 1.2rem;
  margin: auto;
}

#buttons-navigation > button,
#buttons-navigation > button > img {
  display: block;
}

#navigation > #images {
  display: none;
}

#product-info {
  width: 90%;
  margin: auto;
}

#product-info > span {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
}

#product-info > h1 {
  font-size: 2.8rem;
  line-height: 2.8rem;

  margin: 1rem 0;
  color: var(--Very-dark-blue);
}

#product-info > p {
  font-size: 1.5rem;
  color: var(--Dark-grayish-blue);
}

#price-info {
  margin: 1rem 0 0;
}

#price-discount {
  gap: 1rem;
}

#price-discount > #discounted-price {
  font-size: 2.8rem;
  font-weight: 700;

  color: var(--Very-dark-blue);
}

#price-discount > #discounted {
  font-size: 1.4rem;

  padding: 2px 6px;
  border-radius: 0.5rem;

  color: var(--Light-grayish-blue);
  background: var(--Very-dark-blue);
}

#price-info > #normal-price {
  font-size: 1.4rem;
  text-decoration: line-through;
}

#div-quantity {
  width: 100%;
  height: 4.5rem;
  margin: 1.5rem auto;

  justify-content: space-around !important;

  font-size: 1.6rem;
  font-weight: 700;

  border-radius: 1rem;

  color: var(--Very-dark-blue);
  background-color: var(--Light-grayish-blue);
}

#div-quantity button,
#div-quantity img,
#btn-add {
  display: block;
}

#div-quantity > button {
  width: 1.6rem;
  height: 1.6rem;
  padding: 2px;

  border-radius: 50%;
  border: none;

  cursor: pointer;
}

#btn-add {
  width: 100%;
  height: 5rem;
  margin: 1.5rem auto;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  font-size: 1.6rem;
  font-weight: 700;

  border: none;
  border-radius: 1rem;

  color: var(--Very-dark-blue);
  background-color: var(--Orange);

  box-shadow: 0 10px 10px var(--Pale-orange);

  cursor: pointer;
}

#btn-add:hover {
  background-color: var(--Orange-hover);
}

#price-info,
#price-discount,
#div-quantity,
#buttons-navigation,
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#lightbox-background {
  display: none;

  position: fixed;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1150px) {
  /*768px*/
  header {
    width: 85%;
    max-width: 1292.68px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6rem;

    border-bottom: 1px solid var(--Grayish-blue);
  }

  #logo {
    padding-bottom: 4rem;
  }

  #button-menu,
  #button-close {
    display: none;
  }

  nav {
    height: min-content;
    width: 44rem;
    position: relative;
  }

  nav > ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  ul > li {
    font-weight: 500;
    border-bottom: 2px solid white;
    padding-bottom: 3.6rem;
  }

  li:hover {
    transition: all 1.2s ease;
    border-bottom: 2px solid var(--Orange);
  }

  #div-cart {
    display: flex;
    align-items: center;

    margin-left: auto;
    padding-bottom: 2.4rem;
  }

  #avatar {
    width: 4.25rem !important;
    height: 4.25rem !important;

    margin-left: 2rem;
    border-radius: 50%;

    outline: 3px solid white;
    cursor: pointer;
  }

  #avatar:hover {
    transition: all 0.8s ease;
    outline: 2px solid var(--Orange);
  }

  #product {
    width: 80%;
    max-width: 1216.64px;
    margin: 6rem auto;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 15rem;
  }

  section > #navigation > div > img {
    width: 50rem;
    height: 50rem;

    border-radius: 1.5rem;

    cursor: pointer;
    pointer-events: all;
  }

  #navigation > #images {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 4rem;
  }

  #images > img {
    height: 8.5rem !important;
    width: 8.5rem !important;
    border-radius: 0.8rem !important;

    outline: 3px solid white;
    cursor: pointer;
  }

  #images > img:hover {
    transition: all 0.8s ease;
    outline: 3px solid var(--Orange);
    opacity: 0.7;
  }

  #navigation > #buttons-navigation {
    display: none;
  }

  #product-info {
    width: 50rem;
    margin: 9rem 0 0;
  }

  #product-info > span {
    font-size: 2rem;
  }

  #product-info > h1 {
    font-size: 4.8rem;
    line-height: 5.2rem;

    margin: 2rem 0 3rem;
  }

  #product-info > p {
    font-size: 1.8rem;
    line-height: 2.8rem;

    margin-bottom: 3rem;
  }

  #product-info > #price-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
  }

  #price-info #discounted-price {
    font-size: 3.5rem;
  }

  #price-info #normal-price {
    font-size: 1.8rem;
    font-weight: 700;

    color: var(--Dark-grayish-blue);
  }

  #div-add-to-cart {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
  }

  #div-quantity {
    width: 22.5rem;
  }
}

/* JS */

#desktop-navigation {
  width: 50rem;
  /* height: 50rem; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-background {
  margin-bottom: 1rem;
  height: 2.2rem;

  cursor: pointer;
}

#desktop-carousel > img {
  width: 50rem;
  height: 50rem;

  margin: auto;

  border-radius: 1rem;
}

#desktop-images {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4rem;
}

#desktop-images > img {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 0.8rem;

  cursor: pointer;
}

#desktop-images > img:hover {
  transition: all 0.8s ease;
  outline: 3px solid var(--Orange);
  /* opacity: 0.7; */
}

#desktop-buttons-navigation {
  width: 53.5rem;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#desktop-buttons-navigation > button {
  height: 4rem;
  width: 4rem;

  border-radius: 50%;
  border: none;

  cursor: pointer;
  z-index: 0;
}

#desktop-buttons-navigation > button > img {
  height: 1.4rem;
  width: 1.2rem;
  margin: auto;
}

#desktop-buttons-navigation > button,
#desktop-buttons-navigation > button > img {
  display: block;
}
