* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  height: 100%;
  width: 22.5rem;
  background-color: var(--White);

  position: absolute;
  top: 0;
  left: -22.5rem;

  /* border: 1px solid red; */
}

nav > img {
  height: 1.6rem;
  width: 1.6rem;
  padding: 2px;
  margin: 2rem 2rem;

  cursor: pointer;
  user-select: none;
}

nav > ul {
  display: flex;
  flex-flow: column nowrap;

  gap: 2rem;
  margin: 2rem 2rem;

  list-style: none;

  /* border: 1px solid blue; */
}

ul > li {
  font-size: 1.6rem;
  font-weight: 700;

  color: var(--Very-dark-blue);
}

header {
    /* border: 1px solid green; */
    width: 90%;
    margin: 1rem auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#button-menu {
    height: 1.8rem;
}

#div-cart > img {
    height: 2rem;
    width: 2rem;

    cursor: pointer;
}

#icon-cart {
    margin-right: 2rem;
}