* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --Green-400: hsl(180, 29%, 50%);

  --Green-50-Background: hsl(180, 52%, 96%);
  --Gray-400: hsl(180, 8%, 52%);
  --Green-900: hsl(180, 14%, 20%);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--Green-50-Background);
}

#container {
  
  padding-bottom: 2rem;
}

#bg-header-image {
  width: 100%;
  height: 15rem;

  background-image: url(/images/bg-header-mobile.svg);
  background-color: var(--Green-400);
}

#container .card:first-child {
  margin-top: 8rem;
}

.card {
  width: 85%;
  max-width: 130rem;
  margin: 4rem auto 2rem;

  border-radius: 5px;
  background-color: white;

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 5rem;
  margin-left: 1.5rem;

  position: relative;
  top: -2.5rem;
}

header {
  width: 90%;
  margin: auto;
  margin-top: -1.5rem;

  border-bottom: 1px solid var(--Gray-400);
}

.div-company-name {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 1.5rem;
}

.div-company-name > h1 {
  font-size: 1.5rem;
  color: var(--Green-400);
  cursor: pointer;
}

.div-company-name > span {
  font-size: 1.2rem;
  font-weight: 600;

  padding: 5px 10px;
  border-radius: 15px;
  color: white;
}

.span-new {
  background-color: var(--Green-400);
}

.span-featured {
  background-color: var(--Green-900);
}

header > h2 {
  font-size: 1.4rem;
  font-weight: 800;

  margin: 1rem 0;
  color: var(--Green-900);
  cursor: pointer;
}

header > h2:hover {
  color: var(--Green-400);
}

.div-job-details {
  width: 85%;
  max-width: 32rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-job-details > p {
  font-size: 1.4rem;
  font-weight: 600;

  color: var(--Gray-400);
}

.div-job-details > span {
  display: inline;

  height: 4px;
  width: 4px;

  border-radius: 50%;
  background-color: var(--Gray-400);
}

section {
  width: 90%;
  margin: 2rem auto 0rem;
  padding-bottom: 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1.5rem;
}

section > button, .button {
  font-size: 1.5rem;
  font-weight: 700;

  padding: 6px 10px;

  border: none;
  border-radius: 5px;
  background-color: var(--Green-50-Background);
  color: var(--Green-400);

  cursor: pointer;
}

section > button:hover {
  background-color: var(--Green-400);
  color: var(--Green-50-Background);
}

#div-with-filters {
  width: calc(85% - 4rem);
  max-width: calc(130rem - 4rem);
  height: auto;
  min-height: 2rem;
  padding: 1.5rem 2rem;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

  position: absolute;

  top: 14.5rem;
  left: 50%;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.animation-enter {
  opacity: 0;
  transform: translate(-50%, -60%);
  animation: filterEnter 0.5s forwards ease;
}

.animation-exit {
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: filterExit 0.5s forwards ease;
}

@keyframes filterEnter {
  from {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
  to {
    opacity: 1;
    max-height: 50rem;
    transform: translate(-50%, -50%);
  }
}

@keyframes filterExit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
}

#div-with-filters .button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 0 0 10px;
}

.button > img {
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--Green-400);
  pointer-events: none;
}

@media screen and (min-width: 1200px) {
  #bg-header-image {
    background-image: url(/images/bg-header-desktop.svg);

    margin-bottom: 8rem;
  }

  .card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

  }

  .card img {
    position: initial;
    width: 8rem;
    margin: 3rem 2rem 3rem 4rem;
  }

  header {
    width: 25%;
    margin: 0;

    border: none;
  }

  .div-company-name > h1 {
    font-size: 1.35rem;
  }

  .div-company-name > span {
    font-size: 1rem;
    padding: 4px 8px;
  }

  .span-featured {
    margin-left: -8px;
  }

  header > h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .div-job-details {
    width: 21rem;
    margin: 0;
  }

  .div-job-details > p {
    font-size: 1.3rem;
    font-weight: 500;

    color: var(--Gray-400);
  }

  section {
    width: fit-content;
    margin: auto 4rem auto auto;
    padding: 0;
  }
}

.block-input {
  pointer-events: none;
}