* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --Green-400: hsl(180, 29%, 50%);

  --Green-50-Background: hsl(180, 52%, 96%);
  --Gray-400: hsl(180, 8%, 52%);
  --Green-900: hsl(180, 14%, 20%);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
}

#container {
  background-color: var(--Green-50-Background);
}

#bg-header-image {
  width: 100%;
  height: 15rem;

  background-image: url("/static-job-listings-master/images/bg-header-mobile.svg");
  background-color: var(--Green-400);
}

.card {
  width: 85%;
  margin: 4rem auto;

  border-radius: 5px;
  background-color: white;

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 5rem;
  margin-left: 1.5rem;

  position: relative;
  top: -2.5rem;
}

header {
  /* margin-left: 1.5rem; */
  width: 90%;
  margin: auto;
  margin-top: -1.5rem;

  border-bottom: 1px solid var(--Gray-400);
}

.div-company-name {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-company-name > h1 {
  font-size: 1.5rem;
  color: var(--Green-400);
}

.div-company-name > span {
  font-size: 1.15rem;
  font-weight: 600;

  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}

.span-new {
  background-color: var(--Green-400);
}

.span-featured {
  background-color: var(--Green-900);
}

header > h2 {
  font-size: 1.35rem;
  color: var(--Green-900);
  margin: 1rem 0;
  cursor: pointer;
}

header > h2:hover {
  color: var(--Green-400);
}

.div-job-details {
  width: 75%;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-job-details > p {
  font-size: 1.2rem;
  font-weight: 600;

  color: var(--Gray-400);
}

.div-job-details > span {
  display: inline;

  height: 4px;
  width: 4px;

  border-radius: 50%;
  background-color: var(--Gray-400);
}

section {
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

section > button {
  font-family: 1.6rem;
  font-weight: 700;

  padding: 4px 8px;

  border: none;
  border-radius: 5px;
  background-color: var(--Green-50-Background);
  color: var(--Green-400);

  cursor: pointer;
}